*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(background.jpg);
  height: 100vh;
  background-size: cover;
  background-position:center;
}
 ul{
   list-style-type: none;
   float: right;
   margin-top: 25px;
 }

 ul li{
   display: inline-block;
 }
 ul li a{
   text-decoration: none;
   color: #fff;
   padding: 5px 20px;
   /*border: 1px solid #fff;*/
   border: 1px solid transparent;
   transition: 0.6s ease;
 }
 ul li a:hover{
   background-color: #fff;
   color: #000;
 }
 ul li.active a{
   background-color: #fff;
   color: #000;
 }
 .logo img{
   float: left;
   width: 80px;
   height: auto;
  padding: 5px 20px;
 }

.main01{
   max-width: 1500px;
   margin: auto;
   border-radius: 50%;
 }

 .title{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .title h1{
  color: #fff;
  font-size: 90px;
}











/*
#select1 select2{
align-self: center;
text-align: center;
margin left: 20px;
margin-top: 50px;
border-size: 20px;
font-family: '0swald',sans-serif;
color:Black;
font-size: 135%;
padding: 5px 10px;
}
*/

#select1{
align-self: center;
text-align: center;
border-size: 20px;
font-family: '0swald',sans-serif;
color:Black;
font-size: 135%;
}
#select2{
align-self: center;
text-align: center;
border-size: 20px;
font-family: '0swald',sans-serif;
color:Black;
font-size: 135%;
}


#btn1{
  align-self: center;
  text-align: center;
  margin left: 20px;
  margin-top: 50px;
  border-radius: 9px;
  font-family: '0swald',sans-serif;
  color:Black;
  font-size: 135%;
  padding: 10px 20px;
  border: solid;
  border-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  }

.main{
	margin:0;
	border: none;
	background-color: transparent;
	text-align: center;

}
h1{
	font-size: 50px;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 150px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.myBtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
}
.myBtn {border-radius: 50%;}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration:inherit;
  display: inline-block;
  font-size: 40px;
  margin: 5px 3px;
  cursor: pointer;
}

.button5 {border-radius: 50%;}
